{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div>
            <h1>
                Azur Lane Collector
                <div class='logo' aria-label="Logo"></div>
            </h1>

            <div class="content">
                <form action="{{ path("app_security_sign_in") }}" method="post">
                    <h5 class="header">{{ 'title.sign_in'|trans }}</h5>
                    {% if error %}
                        <div class="login-error">
                            <div class="error">
                                <div><div>{{ error.messageKey|trans(error.messageData, 'messages') }}</div></div>
                            </div>
                        </div>
                    {% endif %}

                    <div>
                        <div class="input-field">
                            <input type="text" id="email" name="email" value="{{ lastUsername }}" required="required" class="form-control"/>
                            <label class="required" for="email">{{ 'label.email'|trans }}</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field">
                            <input type="password" id="password" name="password" required="required" class="form-control" />
                            <label class="required" for="password">{{ 'label.password'|trans }}</label>
                        </div>
                    </div>
                    <div class="submit">
                        <a href="{{ path('app_security_sign_up') }}" class="left">{{ 'btn.sign_up'|trans }}</a>
                        <input type="submit" name="submit" value="{{ 'btn.sign_in'|trans }}" class="btn btn-lg btn-success btn-block right" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
