{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div>
            <h1>
                Azur Lane Collector
                <div class='logo' aria-label="Logo"></div>
            </h1>

            <div class="content">
                {{ form_start(form) }}
                    <h5 class="header">{{ 'title.sign_up'|trans }}</h5>
                    {{ form_row(form.displayName, {'label' : 'label.display_name'}) }}
                    {{ form_row(form.email, {'label' : 'label.email'} ) }}
                    {{ form_row(form.plainPassword.first, {'label': 'label.password'}) }}
                    {{ form_row(form.plainPassword.second, {'label': 'label.repeat_password'}) }}
                    <div class="submit">
                        {{ form_row(form.submit, {'label': 'btn.submit', 'attr': {'class': 'btn btn-lg btn-success right'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
