{% extends 'layout.html.twig' %}

{% block content %}
    {% for ship in ships %}
        <div class="ship">
            <div class="left">
                <div class="image-wrapper grayscaled">
                    <img class="{{ ship.rarity }} " data-src="{{ asset('build/img/ships/' ~ ship.type ~ '/' ~ ship.number ~ '.png') }}">
                </div>
                <div><a href="{{ ship.wikiUrl }}" target="_blank">{{ ship.name }}</a></div>
                <label>
                    <input type="checkbox" class="filled-in owned-checkbox" data-id={{ ship.id }} />
                    <span></span>
                </label>
            </div>
            <div class="drops">
                <ul>
                    {% for drop in ship.drops %}
                        <li>{{ drop.description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    {% endfor %}
{% endblock %}
