{% extends 'layout.html.twig' %}

{% block content %}
    {% for drop in drops %}
        <h4>{{ drop.description }} ({{ drop.ships|length }})</h4>
        <div class="grid">
            {% for ship in drop.ships %}
                <div class="ship">
                    <div class="image-wrapper grayscaled">
                        <img class="{{ ship.rarity }} " data-src="{{ asset('build/img/ships/' ~ ship.type ~ '/' ~ ship.number ~ '.png') }}">
                    </div>
                    <div><a href="{{ ship.wikiUrl }}" target="_blank">{{ ship.name }}</a></div>
                    <label>
                        <input type="checkbox" class="filled-in owned-checkbox" data-id={{ ship.id }} />
                        <span></span>
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
