{% extends 'layout.html.twig' %}

{% block nav %}
    {{ include('Nav/Ship/filter-name.html.twig') }}
    {{ include('Nav/Ship/filter-owned.html.twig') }}
    {{ include('Nav/Ship/filter-type.html.twig') }}
    {{ include('Nav/btn-advice-per-location.html.twig') }}
    {{ include('Nav/btn-advice-per-ship.html.twig') }}
{% endblock %}

{% block content %}
    {% for type, ships in shipTypes %}
        <div class="type-block" data-type="{{ type }}">
            <h4>{{ ('enum.type.' ~ type)|trans }} (<span class="ship-type-counter">{{ ships|length }}</span>)</h4>
            <div class="grid">
                {% for ship in ships %}
                    <div class="ship" data-owned="{{ ship.owned == false ? '0' : '1'}}" data-name="{{ ship.name }}">
                        <div class="image-wrapper {{ ship.owned == false ? 'grayscaled' }}">
                            <img class="{{ ship.rarity }} " data-src="{{ asset('build/img/ships/' ~ ship.type ~ '/' ~ ship.number ~ '.png') }}">
                        </div>
                        <div><a href="{{ ship.wikiUrl }}" target="_blank">{{ ship.name }}</a></div>
                        <label>
                            <input type="checkbox" class="filled-in owned-checkbox" {{ ship.owned == true ? 'checked' }} data-id={{ ship.id }} />
                            <span></span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
