{% extends 'layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.description, {'label' : 'label.description'}) }}
        {{ form_row(form.submit, {'label': 'btn.submit', 'attr': {'class': 'btn btn-lg btn-success'}}) }}
    {{ form_end(form) }}
{% endblock %}
