{% extends 'layout.html.twig' %}

{% block content %}
    <h4>{{ 'title.drops'|trans }}</h4>
    <a href="{{ path('app_admin_drop_create') }}" class="btn btn-lg btn-success">{{ 'btn.create'|trans }}</a>
    <div>
        <table class="centered striped">
            <thead>
            <tr>
                <th>{{ 'label.description'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for drop in drops %}
                <tr class="list-element">
                    <td><strong><a href="{{ path('app_admin_drop_show', {'id': drop.id}) }}">{{ drop.description }}</a></strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
