<li class="nav-element">
    {{ 'nav.section.owned'|trans }}
    <ul>
        <li>
            <label>
                <input type="radio" name="owned" class="filled-in" value="" checked/>
                <span>All</span>
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="owned" class="filled-in" value="1"/>
                <span>Owned</span>
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="owned" class="filled-in" value="0"/>
                <span>Not owned</span>
            </label>
        </li>
    </ul>
</li>
