<li class="nav-element">
    {{ 'nav.section.enabled'|trans }}
    <ul>
        <li>
            <label>
                <input type="radio" name="enabled" class="filled-in" value="" checked/>
                <span>All</span>
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="enabled" class="filled-in" value="1"/>
                <span>Enabled</span>
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="enabled" class="filled-in" value="0"/>
                <span>Disabled</span>
            </label>
        </li>
    </ul>
</li>
