<li class="nav-element">
    {{ 'nav.section.type'|trans }}
    <ul>
        <li>
            <label>
                <input type="checkbox" name="type" class="filled-in" checked="checked" value="standard"/>
                <span>{{ 'enum.type.standard'|trans }}</span>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="type" class="filled-in" checked="checked" value="retrofit"/>
                <span>{{ 'enum.type.retrofit'|trans }}</span>
            </label>
        </li>
    </ul>
</li>
