@import '../fonts/font-awesome/font-awesome.css';
@import '../node_modules/materialize-css/dist/css/materialize.min.css';

html {height: 100%;}
body {margin-left: 230px;}
.app {display: flex; flex-direction: column; min-height: 100vh;}
.grid {
    display: grid; grid-column-gap: 10px; grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(110px,1fr))
}

.image-wrapper {width: 100px; height: 144px; margin: auto;}
.normal {background-color: Gainsboro;}
.rare {background-color: PowderBlue;}
.elite {background-color: Plum;}
.super-rare {background-color: PaleGoldenrod;}

.hidden {display: none;}
.grayscaled {filter: grayscale(100%);}

.drop .fa-close {cursor: pointer;}
.ship {text-align: center;}
.ship a {text-decoration: underline; color: rgba(0,0,0,0.87); text-overflow: ellipsis; white-space: nowrap; max-width: 100px;}
.ship label {margin-left: 16px;}
.ship .drops {text-align: left; margin-left: 125px;}
.ship .drops ul {list-style: disc;}
.ship .drops ul li {list-style-type: disc;}

/* Colors */
.btn-success {background-color: #0078ff;}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0078ff;
    -webkit-box-shadow: 0 1px 0 0 #0078ff;
    box-shadow: 0 1px 0 0 #0078ff;
}
input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #0078ff;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #0056B6;
}

/* Login */
body.unauthorized {margin-left: 0;}
.unauthorized {background-color: #99a3a8;}
.box {max-width: 360px; margin: 100px auto 0 auto;}
.box h1 {color: #f0f2f5; background-color: #0078ff; font-size: 28px; word-break: normal; padding: 40px 20px; text-align: center; position: relative; margin: 0;}
.box .logo {position: absolute; left: 0; right: 0; bottom: -37px; height: 75px; width: 75px; background-image: url('../img/logo.png'); background-repeat: no-repeat; background-size: 45px; background-position: center center; border-radius: 50%; margin: 0 auto; background-color: #0078ff; z-index: 5;}
.box .content {background-color: #fff;}
.box form {padding: 30px 50px 50px 50px}
.box h5.header {text-align: center; padding: 0 0 30px 0;}
.box .locales-dropdown {padding: 10px 10px 0 0; float: right;}
.box .submit {padding: 15px 0;}

/* Logo */
.header-logo {cursor: pointer; float: left; height: 60px; width: 230px; overflow: hidden; background-color: #0078ff;}
.header-logo .logo{float :left; margin-left: 8px; margin-top: -6px;}
.header-logo a {color: #f0f2f5; font-size: 25px; font-weight: bold; height: 60px; width: 230px; display: block;}
.header-logo a span {padding-left: 68px; margin-top: 11px; display: block;}

/* Nav */
.nav-wrapper {overflow: hidden; padding-left: 0; display: flex; flex-direction: column; flex-shrink: 0;}
.sidebar-wrapper .header-logo:hover {background-color: #0056B6;}
.sidebar-wrapper {z-index: 99; background-color: #fff; width: 230px; position: fixed; top: 0; bottom: 0; left: 0; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.sidebar-wrapper .nav-sidebar {width: 230px; list-style: none; margin: 0;}
.sidebar-wrapper .nav-sidebar li a:not(.btn) {padding: 7px 15px; font-size: 16px; line-height: 35px; color: #555555; display: block; padding-left: 22px; outline: none;}
.sidebar-wrapper .nav-sidebar li a i {width: 16px; color: #000; margin-right: 13px; text-align: center;}
.sidebar-wrapper .nav-sidebar li a span {color: #000; margin-left: 10px;}
.sidebar-wrapper .btn {width: 100%;}
.nav-bottom li {height: 49px;}
.nav-bottom li a {height: inherit;}
.close-nav {display : none;}

.content-wrapper {width: 100%; padding: 0 20px 20px 20px; background: #fff; display: flex; flex-direction: column; flex: 1 1 0%;}
.content-wrapper .container-fluid {padding: 20px 0;}

.burger-menu {display: none;}
.burger-menu i {color: #7f8c8d; font-size: 21px; cursor: pointer;}

/* Nav animations */
.sidebar-wrapper {transition: width 0.3s, right 0.3s; transform: translate3d(0, 0, 0);}
.collapsed .sidebar-wrapper {transition: width 0.3s, left 0.3s; transform: translate3d(0, 0, 0);}
.content-wrapper {transition: width 0.3s, right 0.3s; transform: translate3d(0, 0, 0);}
.collapsed .content-wrapper {transition: width 0.3s, left 0.3s; transform: translate3d(0, 0, 0);}
.collapsed .sidebar-wrapper {width: 60px;}
.collapsed {margin-left: 60px;}
.collapse-nav i {transform: rotate( 180deg );}
.collapsed .collapse-nav i {transform: rotate( 360deg );}

#offline-message {background-color: #E74646; position: fixed; bottom: 0; left: 0; right: 0; height: 50px; padding-top: 0; text-align: center; color: #d1d1d1; z-index: 150; font-weight: bold;}
#offline-message span {width: 100%;}

.nav-sidebar .nav-element {margin: 6px 12px;}

html.loading:before {
    z-index: 101;
    display: block;
    position: fixed;
    content: "";
    left: 0;
    width: -35%;
    height: 4px;
    will-change: left, right;
    background-color: #009688;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

@media (max-width: 749px)
{
    .expanded {margin-left: -25px;}
    .sidebar-wrapper {width: 0!important;}
    body {margin-left: 0!important;}

    .collapse-nav {display : none;}
    .close-nav {display : block;}

    .burger-menu {margin-right: 12px; display: block;}
}

.mobile-overlay {display: none; background-color: rgba(0,0,0,0.3); position: fixed; height: 100%; width: 100%; z-index: 500;}
.mobile-opened .sidebar-wrapper {width: 230px!important;}
.mobile-opened .mobile-overlay {display: block;}
