{% extends 'layout.html.twig' %}

{% block nav %}
    {{ include('Nav/Ship/filter-name.html.twig') }}
    {{ include('Nav/Ship/filter-enabled.html.twig') }}
{% endblock %}

{% block content %}
    <h4>{{ 'title.ships'|trans }}</h4>
    <div>
        <table class="centered striped">
            <thead>
            <tr>
                <th>{{ 'label.number'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.drops'|trans }}</th>
                <th>{{ 'label.enabled'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for ship in ships %}
                <tr class="list-element ship" data-name="{{ ship.name }}" data-enabled="{{ ship.enabled ? '1': '0' }}">
                    <td>{{ ship.number }}</td>
                    <td><strong><a href="{{ path('app_admin_ship_show', {'id': ship.id}) }}">{{ ship.name }}</a></strong></td>
                    <td>
                        {% for drop in ship.drops|naturalSorting %}
                            {{ drop.description }}
                            {{ loop.last == false ? ', ' }}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="switch">
                            <label>
                                <input type="checkbox" class="enabled-switch" data-id="{{ ship.id }}" {{ ship.enabled ? 'checked' }}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
