{% extends 'layout.html.twig' %}

{% block content %}
    <div class="ship">
        <div class="image-wrapper">
            <img class="{{ ship.rarity }} " src="{{ asset('build/img/ships/' ~ ship.type ~ '/' ~ ship.number ~ '.png') }}">
        </div>
    </div>
    {{ ship.name }}

    <h4>{{ 'title.drops'|trans }}</h4>
        <table class="centered striped ship-drops-table">
            <thead>
            <tr>
                <th>{{ 'label.description'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for drop in ship.drops|naturalSorting %}
                <tr class="list-element drop">
                    <td>{{ drop.description }}</td>
                    <td><i class="fa fa-close fa-fw" data-ship-id="{{ ship.id }}" data-drop-id="{{ drop.id }}"></i><span></span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="input-field">
            <input type="text" id="dropsAutocomplete" class="autocomplete" autocomplete="off" data-ship-id="{{ ship.id }}">
            <label>{{ 'message.add_new_drop_to_ship'|trans }}</label>
            <div class="ac-drops">
            </div>
        </div>
{% endblock %}
