<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{{ 'meta.description'|trans }}">
        <title>{% block title %}Azur Lane Collector{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#0078ff">
        <meta name="msapplication-TileColor" content="#0078ff">
        <meta name="theme-color" content="#0078ff">

        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body class="
        {{ is_granted('IS_AUTHENTICATED_REMEMBERED') == false ? 'unauthorized ' }}
        {{ app.request.cookies.get('sidebar_collapsed') ? 'collapsed ' }}
    ">
        {% block body %}{% endblock %}
        <div id="offline-message" class="valign-wrapper hidden"><span>{{ 'message.offline'|trans }}</span></div>
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script>
                if ('serviceWorker' in navigator) {
                    const LOADING = 0;
                    const LOADED = 1;
                    const FAILED = 2;

                    navigator.serviceWorker.register('{{ asset('sw.js') }}', { scope: "/" });
                    navigator.serviceWorker.addEventListener('message', function (event) {
                        if (event.data === LOADING) {
                            document.documentElement.className = 'loading';
                        }

                        if (event.data === LOADED) {
                            document.documentElement.className = '';
                        }

                        if (event.data === FAILED) {
                            document.documentElement.classList.add('fail');
                        }
                    });
                }
            </script>
        {% endblock %}
    </body>
</html>
