{% extends 'base.html.twig' %}

{% block body %}
    <div class="app">
        <div class="sidebar-wrapper nicescroll z-depth-5">
            <div class="nav-wrapper">
                <div class="header-logo">
                    <a href="{{ path('app_homepage') }}">
                        <img class='logo' src="{{ asset('build/images/logo.png') }}" aria-label="Logo" height="45" width="45">
                        <span>Azur Lane</span>
                    </a>
                </div>
                <ul class="nav nav-sidebar">
                    {% block nav %}{% endblock %}
                </ul>
            </div>

            <div class="nav-wrapper">
                <ul class="nav nav-sidebar nav-bottom">
                    <li class="collapse-nav"><a href=""><i class="fa fa-angle-double-right fa-fw"></i><span>{{ 'menu.collapse'|trans }}</span></a></li>
                    <li class="close-nav"><a href=""><i class="fa fa-times fa-fw"></i><span>{{ 'menu.close'|trans }}</span></a></li>
                </ul>
            </div>
        </div>

        <div class="main content-wrapper">
            <div class="mobile-overlay"></div>
            <header class="expanded">
                <div class="burger-menu">
                    <i class="fa fa-bars fa-fw"></i>
                </div>
            </header>
            <div class="container-fluid container-limited">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
